In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/food-delivery-time/deliverytime.csv

In [2]:
df = pd.read_csv("/kaggle/input/food-delivery-time/deliverytime.csv")

In [3]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [4]:
df.shape

(45593, 11)

# Data Checks to Perform

In [5]:
# Check the missing values

df.isna().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Type_of_order                  0
Type_of_vehicle                0
Time_taken(min)                0
dtype: int64

In [6]:
#check Dulicates
df.duplicated().sum()

0

In [7]:
# check the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  int64
 3   Delivery_person_Ratings      45593 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Type_of_order                45593 non-null  object
 9   Type_of_vehicle              45593 non-null  object
 10  Time_taken(min)              45593 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 3.8+ MB

In [8]:
# check the number of unique values in each column
df.nunique()

ID                             45451
Delivery_person_ID              1320
Delivery_person_Age               22
Delivery_person_Ratings           28
Restaurant_latitude              657
Restaurant_longitude             518
Delivery_location_latitude      4373
Delivery_location_longitude     4373
Type_of_order                      4
Type_of_vehicle                    4
Time_taken(min)                   45
dtype: int64

In [9]:
# check the statistics of data
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_taken(min)
count,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000
mean,29.544075,4.632367,17.017729,70.231332,17.465186,70.845702,26.294607
std,5.696793,0.327708,8.185109,22.883647,7.335122,21.118812,9.383806
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,10.000000
25%,25.000000,4.600000,12.933284,73.170000,12.988453,73.280000,19.000000
50%,29.000000,4.700000,18.546947,75.898497,18.633934,76.002574,26.000000
75%,34.000000,4.800000,22.728163,78.044095,22.785049,78.107044,32.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,54.000000

In [10]:
df.describe(include='O')

           ID Delivery_person_ID Type_of_order Type_of_vehicle
count   45593              45593         45593           45593
unique  45451               1320             4               4
top     7E+08     PUNERES01DEL01        Snack      motorcycle
freq        3                 67         11533           26435

In [11]:
# define numerical and categorical variables

numerical_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

#print  numerical and categorical features

print("we have {} of numerical features {} :".format(len(numerical_features),numerical_features))
print()
print("we have {} of categorical features {} :".format(len(categorical_features),categorical_features))

we have 7 of numerical features ['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude', 'Time_taken(min)'] :

we have 4 of categorical features ['ID', 'Delivery_person_ID', 'Type_of_order', 'Type_of_vehicle'] :

In [12]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [13]:
df.Type_of_vehicle.unique()

array(['motorcycle ', 'scooter ', 'electric_scooter ', 'bicycle '],
      dtype=object)

In [14]:
df.groupby('Type_of_vehicle')['Delivery_person_ID'].count().reset_index().sort_values(by='Delivery_person_ID')

     Type_of_vehicle  Delivery_person_ID
0           bicycle                   68
1  electric_scooter                 3814
3           scooter                15276
2        motorcycle                26435

In [15]:
# Delivery Persons with lowest rating
df[df['Delivery_person_Ratings'] < 3.0]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
389,8B39,VADRES01DEL01,24,2.6,22.307898,73.167788,22.417898,73.277788,Drinks,motorcycle,42
575,5FD4,SURRES04DEL01,23,2.5,21.173493,72.801953,21.283493,72.911953,Buffet,motorcycle,34
934,C714,BHPRES14DEL03,29,2.5,0.000000,0.000000,0.090000,0.090000,Drinks,scooter,41
1333,2DAF,HYDRES05DEL02,20,2.5,17.433809,78.386744,17.563809,78.516744,Snack,scooter,43
1391,E247,LUDHRES20DEL01,23,2.6,30.885915,75.788259,30.995915,75.898259,Drinks,scooter,43
...,...,...,...,...,...,...,...,...,...,...,...
44488,D6B0,DEHRES12DEL02,21,2.6,0.000000,0.000000,0.080000,0.080000,Snack,motorcycle,34
44623,71FD,SURRES20DEL01,28,2.7,21.152760,72.778059,21.262760,72.888059,Meal,scooter,35
44881,8D4,CHENRES02DEL02,15,1.0,13.086438,80.220672,13.216439,80.350672,Snack,electric_scooter,26
45300,6C66,JAPRES12DEL03,22,2.9,26.902908,75.792934,26.992908,75.882934,Drinks,scooter,33
45365,A26B,BANGRES12DEL01,25,2.7,12.939496,77.625999,13.009496,77.695999,Snack,motorcycle,39

In [16]:
# Delivery persons with age above 50

df[df['Delivery_person_Age'] >= 50]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
3586,46D,BANGRES05DEL01,50,6.0,-12.970324,-77.645748,13.010324,77.685748,Meal,electric_scooter,25
4714,493,HYDRES17DEL01,50,6.0,-17.451976,-78.385883,17.561976,78.495883,Snack,bicycle,27
5169,4F2,JAPRES08DEL01,50,6.0,-26.910262,-75.783013,27.020262,75.893013,Drinks,scooter,20
5362,430,BANGRES19DEL01,50,6.0,12.914264,77.678400,13.024264,77.788400,Meal,electric_scooter,18
5651,BEF 1.00,AGRRES13DEL02,50,6.0,-27.159795,-78.042990,27.209795,78.092990,Drinks,scooter,20
6394,427,JAPRES06DEL02,50,6.0,26.911927,75.797282,27.041927,75.927282,Meal,electric_scooter,20
7031,3EB,MYSRES15DEL02,50,6.0,-12.352058,-76.606650,12.372058,76.626650,Buffet,scooter,14
7681,D42,VADRES09DEL01,50,6.0,0.000000,0.000000,0.010000,0.010000,Meal,bicycle,22
9499,3F0,BANGRES010DEL01,50,6.0,12.933298,77.614293,13.003298,77.684293,Drinks,scooter,17
9535,3EF,RANCHIRES13DEL01,50,6.0,-23.374989,-85.335486,23.444989,85.405486,Snack,bicycle,32
10100,5B0,MYSRES04DEL01,50,6.0,12.308500,76.665808,12.418500,76.775808,Snack,electric_scooter,35
10737,BFFC,DEHRES18DEL02,50,6.0,0.000000,0.000000,0.020000,0.020000,Snack,scooter,25
12297,940,SURRES02DEL02,50,6.0,21.186608,72.794136,21.206608,72.814136,Meal,scooter,22
13257,490,COIMBRES03DEL02,50,6.0,11.025083,77.015393,11.105083,77.095393,Buffet,electric_scooter,11
13652,434,RANCHIRES01DEL02,50,6.0,-23.416792,-85.316842,23.466792,85.366842,Buffet,motorcycle,28
14106,3F6,MYSRES06DEL02,50,6.0,12.323994,76.626167,12.373994,76.676167,Meal,scooter,15
14907,421,CHENRES19DEL01,50,6.0,12.986047,80.218114,12.996047,80.228114,Drinks,bicycle,12
14944,43C,HYDRES14DEL01,50,6.0,17.426228,78.407495,17.536228,78.517495,Meal,motorcycle,19
16798,3FA,RANCHIRES06DEL02,50,6.0,23.357804,85.325146,23.377804,85.345146,Drinks,scooter,22
17145,400,COIMBRES07DEL01,50,6.0,10.961850,76.971082,10.971850,76.981082,Snack,electric_scooter,14
17708,412,CHENRES010DEL01,50,6.0,-13.066762,-80.251865,13.076762,80.261865,Drinks,electric_scooter,20
18977,C363,BHPRES08DEL03,50,6.0,23.232537,77.429845,23.322537,77.519845,Buffet,scooter,17
19382,3FB,INDORES02DEL03,50,6.0,-22.651847,-75.881991,22.711847,75.941991,Drinks,bicycle,30
20269,D0BC,ALHRES01DEL02,50,6.0,25.454648,81.834502,25.504648,81.884502,Snack,motorcycle,33
21320,810,HYDRES06DEL01,50,6.0,17.455894,78.375467,17.525894,78.445467,Drinks,electric_scooter,35
22416,C7D6,ALHRES08DEL03,50,6.0,25.450329,81.834279,25.590329,81.974279,Drinks,scooter,29
23375,1060,BANGRES05DEL03,50,6.0,12.970324,77.645748,13.030324,77.705748,Buffet,electric_scooter,19
24237,420,SURRES13DEL01,50,6.0,-21.170096,-72.789122,21.180096,72.799122,Meal,motorcycle,17
24918,BF34,KNPRES16DEL02,50,6.0,26.482581,80.315628,26.612581,80.445628,Buffet,scooter,41
25285,40C,COIMBRES08DEL03,50,6.0,11.001852,76.976268,11.061852,77.036268,Meal,electric_scooter,16
26052,694,RANCHIRES09DEL02,50,6.0,23.351058,85.325731,23.371058,85.345731,Meal,electric_scooter,20
27221,3F4,COIMBRES20DEL02,50,6.0,-10.994136,-76.963303,11.074136,77.043303,Drinks,electric_scooter,17
27399,3EA,MUMRES20DEL03,50,6.0,19.103249,72.846749,19.133249,72.876749,Meal,electric_scooter,18
28315,3FD,BANGRES13DEL01,50,6.0,-12.935662,-77.614130,13.045662,77.724130,Drinks,electric_scooter,28
28974,404,CHENRES04DEL01,50,6.0,-13.029780,-80.208812,13.099780,80.278812,Meal,electric_scooter,20
29535,480,BANGRES15DEL01,50,6.0,-12.975377,-77.696664,13.015377,77.736664,Drinks,electric_scooter,15
30579,BF12,BHPRES20DEL03,50,6.0,23.235123,77.398886,23.325123,77.488886,Snack,bicycle,39
30943,4CC,MUMRES20DEL01,50,6.0,-19.103249,-72.846749,19.213249,72.956749,Meal,scooter,30
31233,706,VADRES09DEL02,50,6.0,0.000000,0.000000,0.050000,0.050000,Drinks,scooter,28
32326,BF33,KNPRES03DEL03,50,6.0,-26.469003,-80.316344,26.559003,80.406344,Drinks,scooter,17
33533,BF01,KOLRES06DEL02,50,6.0,-22.533662,-88.366217,22.663662,88.496217,Snack,scooter,28
34688,BF76,AGRRES20DEL03,50,6.0,-27.158822,-78.045359,27.248822,78.135359,Drinks,electric_scooter,16
38007,BEF 2.00,DEHRES13DEL01,50,6.0,30.366322,78.070453,30.436322,78.140453,Snack,electric_scooter,25
38020,466,CHENRES14DEL02,50,6.0,13.026279,80.174568,13.106279,80.254568,Meal,scooter,14
38561,3F1,VADRES09DEL03,50,6.0,0.000000,0.000000,0.090000,0.090000,Drinks,electric_scooter,36
38649,5E+00,MUMRES07DEL03,50,6.0,-19.091458,72.827808,19.121458,72.857808,Buffet,electric_scooter,26
39699,A24,RANCHIRES14DEL03,50,6.0,0.000000,0.000000,0.030000,0.030000,Buffet,bicycle,39
40223,3E+09,MYSRES04DEL03,50,6.0,-12.308500,-76.665808,12.398500,76.755808,Drinks,electric_scooter,40
41105,4E+04,VADRES17DEL01,50,6.0,0.000000,0.000000,0.110000,0.110000,Meal,scooter,48
41969,BEF 4.00,KNPRES19DEL03,50,6.0,-26.490950,-80.318656,26.520950,80.348656,Drinks,scooter,15
42072,5FC,INDORES11DEL03,50,6.0,22.751234,75.889490,22.781234,75.919490,Buffet,scooter,28
42835,53E,BANGRES12DEL01,50,6.0,-12.939496,77.625999,12.949496,77.635999,Drinks,electric_scooter,19
45332,2950,VADRES04DEL02,50,6.0,0.000000,0.000000,0.020000,0.020000,Drinks,electric_scooter,28

In [17]:
# type of order with highest ratings
df.groupby('Type_of_order')['Delivery_person_Ratings'].mean().reset_index().sort_values('Delivery_person_Ratings',ascending=False)

  Type_of_order  Delivery_person_Ratings
3        Snack                  4.634215
0       Buffet                  4.633121
1       Drinks                  4.631947
2         Meal                  4.630180